html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.input-username {
    border-radius: 12px;
    padding: 5px;
    width: 430px;
    margin-top: 10px;
    transition: 0.2s;
    border-width: thin
}


.input-username:focus {
    outline: none;
}

.user-information-ul {
    list-style-type: none;
    width: 150px;
    padding: 0;
    text-align: left;
}

.user-photo {
    width: 150px;
    -webkit-box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.12);
    border-radius: 70px;
}

.container-cards {
    width: 100%;
    display: flex;
    margin-top: 15px;
    height: 330px;
    align-items: center;
}

.card {
    width: 19%;
    height: 80%;
    max-height: 80%;
    -webkit-box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.33);
    -moz-box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.33);
    box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.33);
    border-top: 2px solid blue;
    margin-left: 1%;
    margin-right: 1%;
}

    .card a {
        font-weight: bold;
        font-size: 18px;
        display: block;
        text-align: center;
        outline: none;
        cursor: pointer;
        text-decoration: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

.card-title {
    display: flex;
    height: 20%;
    width: 100%;
    text-align: center;
    padding: 6px;
    margin: 0;
    border-bottom: 0px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

.card-body {
    background-color: white;
    height: 60%;
    overflow-y: auto;
}

.card-footer {
    background-color: #ababab5c;
    height: 20%;
    min-height: 20%;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
}

.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

    .input-group.md-form.form-sm.form-2 input.red-border {
        border: 1px solid #ef9a9a;
    }


.github-initial-gif{
    transition: 0.5s;
}